@font-face {
  font-family: 'merriweather-heavy';
  src: url('fonts/merriweather/merriweather-black-webfont.eot');
  src: url('fonts/merriweather/merriweather-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-black-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-black-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-black-webfont.svg#merriweatherheavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-bold';
  src: url('fonts/merriweather/merriweather-bold-webfont.eot');
  src: url('fonts/merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-bold-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-bold-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-bold-italic';
  src: url('fonts/merriweather/merriweather-bolditalic-webfont.eot');
  src: url('fonts/merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-bolditalic-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-heavy-italic';
  src: url('fonts/merriweather/merriweather-heavyitalic-webfont.eot');
  src: url('fonts/merriweather/merriweather-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-heavyitalic-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-heavyitalic-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-heavyitalic-webfont.svg#merriweatherheavy_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-italic';
  src: url('fonts/merriweather/merriweather-italic-webfont.eot');
  src: url('fonts/merriweather/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-italic-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-italic-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-light';
  src: url('fonts/merriweather/merriweather-light-webfont.eot');
  src: url('fonts/merriweather/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-light-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-light-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-light-webfont.svg#merriweatherlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-light-italic';
  src: url('fonts/merriweather/merriweather-lightitalic-webfont.eot');
  src: url('fonts/merriweather/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-lightitalic-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-lightitalic-webfont.svg#merriweatherlight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweather-regular';
  src: url('fonts/merriweather/merriweather-regular-webfont.eot');
  src: url('fonts/merriweather/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/merriweather/merriweather-regular-webfont.woff') format('woff'),
  url('fonts/merriweather/merriweather-regular-webfont.ttf') format('truetype'),
  url('fonts/merriweather/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * Open Sans
================================================================================ */
@font-face {
  font-family: 'opensans-regular';
  src: url('fonts/opensans/OpenSans-Regular-webfont.eot');
  src: url('fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-italic';
  src: url('fonts/opensans/OpenSans-Italic-webfont.eot');
  src: url('fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-light';
  src: url('fonts/opensans/OpenSans-Light-webfont.eot');
  src: url('fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-light-italic';
  src: url('fonts/opensans/OpenSans-LightItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-LightItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url('fonts/opensans/OpenSans-Semibold-webfont.eot');
  src: url('fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold-italic';
  src: url('fonts/opensans/OpenSans-SemiboldItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-bold';
  src: url('fonts/opensans/OpenSans-Bold-webfont.eot');
  src: url('fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-bold-italic';
  src: url('fonts/opensans/OpenSans-BoldItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-BoldItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-extrabold';
  src: url('fonts/opensans/OpenSans-ExtraBold-webfont.eot');
  src: url('fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-ExtraBold-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-extrabold-italic';
  src: url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
  url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
  url('fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*
 * FIXED for Font-Face Chrome Rendering
================================================================================ */
@media screen and (-webkit-min-device-pixel-ratio:0) {

  @font-face {
    font-family: 'opensans-semibold';
    src: url('fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  }

  @font-face {
    font-family: 'merriweather-bold';
    src: url('fonts/merriweather/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
  }


}